<app-admin></app-admin>
<ng-template #content let-c="close" let-d="dismiss">
    <div class="modal-header">
        <h4 class="modal-title">Borrar cancha</h4>
        <button type="button" class="close" aria-label="Close" (click)="d('Cross click')">
            <span aria-hidden="true">&times;</span>
        </button>
    </div>
    <div class="modal-body">
        <p><strong>¿Estás seguro que quieres continuar?</strong></p>
        <p>Toda la información asociada a esta cancha será borrada permanentemente.
        <span class="text-danger">Está operacion no se puede deshacer.</span>
        </p>
    </div>
    <div class="modal-footer">
        <button type="button" class="btn btn-outline-secondary" (click)="d('Cancel click')">Cancelar</button>
        <button type="button" class="btn btn-danger" ngbAutofocus (click)="deleteField(id); c('Ok click')">Ok</button>
    </div>
</ng-template>

<div class="page-wrapper chiller-theme toggled">
    <main class="page-content">
        <div>
            <div class="card-header bg-dark text-white">
                <div class="text-center" style="width: 50%; position: absolute; margin-left: 3cm;" >
                    <flash-messages></flash-messages>
                </div>
                <i class="fas fa-futbol"></i> Canchas
                <a routerLink="/admin/fields/add" class="btn btn-outline-light" style="margin-top: -6px; float: right;">Añadir nuevo</a>
            </div>
            <div class="card-body">
                <div class="table-responsive">
                    <table class="table table-striped">
                        <thead>
                            <tr>
                                <th scope="col">ID</th>
                                <th scope="col">Deporte</th>
                                <th scope="col">Precio base</th>
                                <th scope="col" colspan="2" style="text-align:center;">Acciones</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr *ngFor="let field of fieldsPag">
                                <th>
                                    {{field.id}}    
                                </th>
                                <td>
                                    {{field.deporte}} 
                                </td>
                                <td>
                                    ${{field.precio_Base}}     
                                </td>
                                <td align="Center">
                                    <button [routerLink]="['edit', field.id]" style="color: blue; border: white; background-color: transparent;"><i class="fas fa-pencil-alt"></i></button>
                                </td>
                                <td align="Center">
                                    <button style="color: red; border: white; background-color: transparent;" (click)="openModal(content, field.id)"><i class="fas fa-trash-alt"></i></button>
                                </td>
                            </tr>
                        </tbody>
                    </table>
                    <div class="d-flex justify-content-end p-2">
                        <ngb-pagination [collectionSize]="collectionSize" [(page)]="page" [pageSize]="pageSize">
                        </ngb-pagination>
                    </div> 
                </div>
            </div>
        </div>
    </main>    
</div>
