<div class="page-wrapper chiller-theme toggled">
    <a id="show-sidebar" class="btn btn-sm btn-dark" href="#">
        <i class="fas fa-bars"></i>
    </a>
    <nav id="sidebar" class="sidebar-wrapper">
        <div class="sidebar-content">
            <div class="sidebar-header">
                <div class="user-info">
                    <strong>{{name}}</strong>
                    <span class="user-role">Administrador</span>
                    <span class="user-status"><i class="fa fa-circle"></i><span>Online</span>
                    </span>
                </div>
            </div>
            <!-- sidebar-header 
            <div class="sidebar-search">
                <div>
                    <div class="input-group">
                        <input type="text" class="form-control search-menu" placeholder="Buscar...">
                        <div class="input-group-append">
                            <span class="input-group-text"><i class="fa fa-search" aria-hidden="true"></i>
                            </span>
                        </div>
                    </div>
                </div>
            </div> -->
            <!-- sidebar-search  -->
            <div class="sidebar-menu">
                <ul>
                    <li class="header-menu">
                        <span>General</span>
                    </li>
                    <li class="sidebar-dropdown">
                        <a routerLinkActive="active" 
                        [routerLinkActiveOptions]="{exact: true}" routerLink="/admin">
                            <i class="fa fa-tachometer-alt"></i>
                            <span>Dashboard</span>
                        </a>
                    </li>
                    <li class="sidebar-dropdown">
                        <a routerLinkActive="active" 
                        [routerLinkActiveOptions]="{exact: true}" routerLink="/">
                            <i class="fas fa-home"></i>
                            <span>Inicio</span>
                        </a>
                    </li>
                    <li class="sidebar-dropdown">
                        <a routerLinkActive="active" 
                        [routerLinkActiveOptions]="{exact: true}" routerLink="/admin/users">
                            <i class="fas fa-users"></i>
                            <span>Usuarios</span>
                        </a>
                    </li>
                    <li class="sidebar-dropdown">
                        <a routerLinkActive="active" 
                        [routerLinkActiveOptions]="{exact: true}" routerLink="/admin/reservation">
                            <i class="fas fa-book-open"></i>
                            <span>Reservas</span>
                        </a>
                    </li>
                    <li class="sidebar-dropdown">
                        <a routerLinkActive="active" 
                        [routerLinkActiveOptions]="{exact: true}" routerLink="/admin/fields">
                            <i class="fas fa-futbol"></i>
                            <span>Canchas</span>
                        </a>
                    </li>
                    <li class="sidebar-dropdown">
                        <a routerLinkActive="active" 
                        [routerLinkActiveOptions]="{exact: true}" routerLink="/admin/referees">
                            <i class="fas fa-address-card"></i>
                            <span>Arbitros</span>
                        </a>
                    </li>
                    <li class="sidebar-dropdown">
                        <a routerLinkActive="active" 
                        [routerLinkActiveOptions]="{exact: true}" routerLink="/admin/items">
                            <i class="fas fa-basketball-ball"></i>
                            <span>Articulos</span>
                        </a>
                    </li>
                    <li class="sidebar-dropdown">
                        <a routerLinkActive="active" 
                        [routerLinkActiveOptions]="{exact: true}" routerLink="/admin/scheds">
                            <i class="fas fa-calendar-alt"></i>
                            <span>Horarios</span>
                        </a>
                    </li>
                </ul>    
            </div>
            <!-- sidebar-menu  -->
        </div>
        <!-- sidebar-content  -->
        <div class="sidebar-footer">
            <a href="#" (click)="logOut()">
                <i class="fa fa-power-off"></i> Desconectarse
            </a>
        </div>
    </nav>
</div>