<app-navigation></app-navigation>
<body class="all">
    <h3 align="center" class="mt-5" style="color:white">Bienvenido {{name}}!</h3>
    <table align="center">
        <tr>
            <td>
                <div class="imgContainer">
                    <div>
                        <img src="../../../../assets/pngocean.com-id-wdafi.png" alt="">
                    </div>
                    <div class="imgButton">
                        <a title="aaa" class="btn btn-outline-light mt-auto" routerLink="/reservation">Consultar por cancha</a>
                    </div>
                </div>
            </td>
            <td>
                <div class="imgContainer">
                    <div>
                        <img src="../../../../assets/enigroom-icono-reserva.png" alt="">
                    </div>
                    <div class="imgButton">
                        <a class="btn btn-outline-light mt-auto" href="">Ver Reserva</a>
                    </div>
                </div>
            </td>
        </tr>
    </table>
</body>
