<app-navigation></app-navigation>
<ng-template #content let-c="close" let-d="dismiss">
    <div class="modal-header">
        <h4 class="modal-title">Anular reserva</h4>
        <button type="button" class="close" aria-label="Close" (click)="d('Cross click')">
            <span aria-hidden="true">&times;</span>
        </button>
    </div>
    <div class="modal-body">
        <p><strong>¿Estás seguro que quieres continuar?</strong></p>
        <p>Tú reserva será eliminada permanentemente.
        <span class="text-danger">Está operacion no se puede deshacer.</span>
        </p>
    </div>
    <div class="modal-footer">
        <button type="button" class="btn btn-outline-secondary" (click)="d('Cancel click')">Cancelar</button>
        <button type="button" class="btn btn-danger" ngbAutofocus (click)="deleteActiveReservation(); c('Ok click')">Ok</button>
    </div>
</ng-template>

<body class="reservation">
    <div class="imgContainer">
        <div>
            <img src="../../../../assets/enigroom-icono-reserva.png" alt="">
        </div>   
    </div>

    <div class="container">
        <div class="text-center" style="width: 50%; position: absolute; margin-left: 10cm;" >
            <flash-messages></flash-messages>
        </div>
        <div class="activeReservation" *ngIf="activeReservationInfo == ''">
            <h1 align="center" style="color: white;"><u>Reservas activas</u></h1>
            <br>
            <h3 align="center" style="color: white;">No tienes reservas activas en este momento. <a routerLink="/reservation">Ir a reservar</a></h3>
        </div>
        
        <div class="activeReservation" *ngIf="activeReservationInfo">
            <h1 align="center" style="color: white;"><u>Reservas activas</u></h1>
            <br>
            <div class="card" *ngFor="let active of activeReservationInfo; let i = index">
                <button type="button" class="btn btn-success" (click)="isCollapsed[i] = !isCollapsed[i]">
                    <strong>Número de reserva:</strong> {{active.num_reserva}}&nbsp;&nbsp; <strong>Deporte:</strong> {{active.deporte_cancha}}&nbsp;&nbsp; <strong>Cancha:</strong> {{active.id_cancha}}&nbsp;&nbsp; <strong>Fecha:</strong> {{active.fecha}}&nbsp;&nbsp; <strong>Horario:</strong> {{active.hora_inicio}}-{{active.hora_termino}}&nbsp;&nbsp;
                </button>
                <div [ngbCollapse]="!isCollapsed[i]" style="background-color: rgba(255, 255, 255, 0.897);">
                    <h3 align="center">Complementos</h3>
                    <div class="row register-form">
                        <div class="col-md-6">
                            <div class="form-label-group" *ngIf="!active.nombre_arbitro">
                                <input type="text" id="inputReferee" value="No" class="form-control" placeholder="Arbitro" disabled>
                                <label for="inputReferee">Arbitro</label>
                            </div>
                            <div class="form-label-group" *ngIf="active.nombre_arbitro">
                                <input type="text" id="inputReferee" [(ngModel)]="active.nombre_arbitro" class="form-control" placeholder="Arbitro" disabled>
                                <label for="inputReferee">Arbitro</label>
                            </div>
                            <div class="form-label-group" *ngIf="!active.item1">
                                <input type="text" id="inputItem1" value="No" class="form-control" placeholder="Articulo 1" disabled>
                                <label for="inputItem1">Articulo 1</label>
                            </div>
                            <div class="form-label-group" *ngIf="active.item1">
                                <input type="text" id="inputItem1" [(ngModel)]="active.item1" class="form-control" placeholder="Articulo 1" disabled>
                                <label for="inputItem1">Articulo 1</label>
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="form-label-group" *ngIf="!active.item2">
                                <input type="text" id="inputItem2" value="No" class="form-control" placeholder="Articulo 2" disabled>
                                <label for="inputItem2">Articulo 2</label>
                            </div>
                            <div class="form-label-group" *ngIf="active.item2">
                                <input type="text" id="inputItem2" [(ngModel)]="active.item2" class="form-control" placeholder="Articulo 2" disabled>
                                <label for="inputItem2">Articulo 2</label>
                            </div>
                        </div>
                        <div class="col-md-12" align="center">
                            <button type="button" class="btn btn-danger" (click)="openModal(content, active.num_reserva)">Anular reserva</button>
                        </div>
                    </div>    
                </div>
            </div>
        </div>
    </div>
</body>
